:root {
    --primaryColor: #adf0d4;
    --secondaryColor: #1fd8a4;
    --bgColor: #0d1512;
}
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Inter', sans-serif;
}


body {
    background:  var(--bgColor);
    color: var(--primaryColor);
}

.darkerText{
    color: var(--secondaryColor);
}